@model List<ESM.Models.Note>

@if (Model.Count < 1)
{

}
else
{
    <div class="row">

        @foreach (var note in Model)
        {
            <div class="col-xs-12 note_container">
                <div class="row">
                    <div class="note col-xs-12">
                        <div class="note_content">
                            <p>@note.Content</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="mr-auto">
                                <div class="col-xs-6">
                                    <div class="note_date">
                                        <p>Dodano: @note.CreatedAt.ToString("dd.MM.yyyy")</p>
                                    </div>
                                </div>
                                <div class=" col-xs-6">
                                    <div class=" note_buttons">
                                        <a href="@Url.Action("EditNote", "Notes", new { noteId = note.NoteId }, null)" class="btn btn-link btn-mr"><i class="fas fa-edit"></i> Edytuj</a>
                                        @using (Html.BeginForm("MoveToArchive", "Notes", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("noteId", note.NoteId)
                                            <button type="submit" role="button" class="btn btn-link"> <i class="fas fa-arrow-circle-right"></i>  Przenieś do Archiwum</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}


