@model ESM.Models.Employee


<h2>Przenieś pracownika do archiwum</h2>
<hr />

<h3>Jesteś pewny, że chcesz przenieść tego pracownika do archiwum?</h3>
<div>
    <img class="employee__image img-circle img-responsive" width="200" height="200"
         src="@Url.Action("GetPicture", "Employees", new { employeeId = Model.EmployeeId})"
         alt="" />
    <p>
        Imię:
        <strong>@Html.DisplayFor(model => model.Name)</strong>
    </p>
    <p>
        Nazwisko:
        <strong>@Html.DisplayFor(model => model.Surname)</strong>
    </p>
    <p>
        Stanowisko:
        <strong>@Html.DisplayFor(model => model.Title)</strong>
    </p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Przenieś Pracownika" class="btn btn-default" /> |
        @Html.ActionLink("Powrót", "Details", "Employees", new { id = Model.EmployeeId }, null)
    </div>
    }
</div>
