@model ESM.Models.Employee

@{
    ViewBag.Title = "Usuwanie";
}

<h2>Usuń</h2>

<h3>Jesteś pewny, że chcesz usunąć ten rekord?</h3>
<div>
        <p>
            @Html.DisplayNameFor(model => model.Name)
            @Html.DisplayFor(model => model.Name)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Surname)
            @Html.DisplayFor(model => model.Surname)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.BirthDate)
            @Html.DisplayFor(model => model.BirthDate)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Title)
            @Html.DisplayFor(model => model.Title)
        </p>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
