@model ESM.ViewModels.Employees.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Zdjęcie:
        </dt>

        <dd>

            @if (Model.PictureData == null || Model.PictureData.Length == 0)
            {
                <span class="form-control-static">Brak zdjęcia</span>
            }
            else
            {
                <img class="image-thumbnail" width="200" height="200"
                     src="@Url.Action("GetPicture", "Employees", new { Model.EmployeeId})" />
            }
        </dd>
    </dl>
</div>
<div>
    <h3>Historia zarobków</h3>
    <div>
        <a class="btn">
            @Html.ActionLink("Zmień zarobki","AddEarning", "Earnings", new { employeeId = Model.EmployeeId }, null)
        </a>
        
    </div>
    <div>
        @Html.Partial("_EarningsList", Model.Earnings)
    </div>
</div>
<div>
    <h3>Umowy</h3>
    <div>
        <a class="btn">
            @Html.ActionLink("Dodaj umowę", "AddAgreement", "Agreements", new { employeeId = Model.EmployeeId }, null)
        </a>

    </div>
    <div>
        @Html.Partial("_AgreementsList", Model.Agreements)
    </div>
</div>
<div>
    <h3>Certyfikaty</h3>
    <div>
        <a class="btn">
            @Html.ActionLink("Dodaj certyfikat", "AddCertyfication", "Certyfications", new { employeeId = Model.EmployeeId }, null)
        </a>

    </div>
    <div>
        @Html.Partial("_CertyficationsList", Model.Certyfications)
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
