@model ESM.ViewModels.Employees.EmployeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-sm-8">
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Zdjęcie:
        </dt>

        <dd>

            @if (Model.PictureData == null || Model.PictureData.Length == 0)
            {
                <span class="form-control-static">Brak zdjęcia</span>
            }
            else
            {
                <img class="image-thumbnail" width="200" height="200"
                     src="@Url.Action("GetPicture", "Employees", new { Model.EmployeeId})" />
            }
        </dd>
    </dl>
</div>
<div class="col-sm-4">
    <div class="row">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEarnings" aria-expanded="true" aria-controls="collapseEarnings">
                            Historia zarobków
                        </a>
                    </h4>
                </div>
                <div id="collapseEarnings" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <a href="@Url.Action("AddEarning", "Earnings", new { employeeId = Model.EmployeeId }, null)"><i class="fa fa-pencil-alt"></i> Zmień zarobki</a>
                        @Html.Partial("_EarningsList", Model.Earnings)
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAgreement" aria-expanded="true" aria-controls="collapseAgreement">
                            Umowy
                        </a>
                    </h4>
                </div>
                <div id="collapseAgreement" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <a href="@Url.Action("AddAgreement", "Agreements", new { employeeId = Model.EmployeeId }, null)"><i class="fa fa-pencil-alt"></i> Dodaj umowę</a>
                        @Html.Partial("_AgreementsList", Model.Agreements)
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCertyfications" aria-expanded="true" aria-controls="collapseCertyfications">
                            Certyfikaty
                        </a>
                    </h4>
                </div>
                <div id="collapseCertyfications" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <a href="@Url.Action("AddCertyfication", "Certyfications", new { employeeId = Model.EmployeeId }, null)"><i class="fa fa-pencil-alt"></i> Dodaj certyfikat</a>
                        @Html.Partial("_CertyficationsList", Model.Certyfications)
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRecruitmentDocuments" aria-expanded="true" aria-controls="ccollapseRecruitmentDocuments">
                            Dokumenty rekrutacyjne
                        </a>
                    </h4>
                </div>
                <div id="collapseRecruitmentDocuments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <a href="@Url.Action("AddRecruitmentDocument", "RecruitmentDocuments", new { employeeId = Model.EmployeeId }, null)"><i class="fa fa-pencil-alt"></i> Dodaj dokument</a>
                        @Html.Partial("_RecruitmentDocumentsList", Model.RecruitmentDocuments)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12">
    <p>
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.EmployeeId }) |
        @Html.ActionLink("Powrót", "Index")
    </p>
</div>

