@model List<ESM.Models.Event>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEventCompany", new { eventId=item.EventId }) |
            @Html.ActionLink("Delete", "DeleteEventCompany", new { eventId=item.EventId })
        </td>
    </tr>
}


