@model ESM.Models.User

@{
    ViewBag.Title = "Login";
}
<div class="login">
    <video autoplay loop class="login__video" poster="~/Media/Office_Perks.jpg">
        <source src="~/Media/Office_Perks.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="~/Media/Office_Perks.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="container login__content">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">
                    <img src="~/Images/esm logo.png" width="300" alt="" class="img-responsive center-block" />
                    <strong>Zaloguj się</strong>
                </h1>
            </div>
            <div class="col-lg-4 col-lg-offset-4">
                <div class="row">
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group col-xs-12">
                            @Html.LabelFor(a => a.Email)
                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Email)
                        </div>
                        <div class="col-xs-12 form-group">
                            @Html.LabelFor(a => a.Password)
                            @Html.ValidationMessageFor(a => a.Password)
                            @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
                        </div>

                        <p class="text-center">
                            <input type="submit" class="btn btn-success btn-lg" value="Zaloguj się" />
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


