<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — Employees System Managament</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
    @Styles.Render("~/Content/font-awesome/fa-solid.min.css")
    @Styles.Render("~/Content/font-awesome/fontawesome.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home-layout">
    <!-- Preloader -->
    <div class="preloader">
        <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
                <div class="loader-line"></div>
            </div>
            <img src="~/Images/esm logo.png" width="180" />
        </div>
    </div>
    <div id="particles" class="particles"></div>
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top home-navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".home-navbar__collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand"><img class="img-responsive" src="~/Images/esm logo.png" /></a>
                </div>

                <div class="collapse navbar-collapse home-navbar__collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            @Html.ActionLink("O Aplikacji", "About", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Korzyści", "Benefits", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Zespół", "Team", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Współpraca", "Cooperation", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Kontakt", "Contact", "Home")
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.Action("Login","Account")">
                                <i class="fas fa-sign-in-alt"></i> Zaloguj się
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register","Account")">
                                <i class="fas fa-user"></i> Załóż konto
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="home-footer">
        <div class="container">
            <div class="row">
                <p class="home-footer__copy">MM&GW Solutions &copy; @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/particles.min.js")
    @Scripts.Render("~/Scripts/scripts.js")


    @RenderSection("scripts", required: false)
</body>
</html>
