<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — Employees System Managament</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
    @Styles.Render("~/Content/font-awesome/fa-solid.min.css")
    @Styles.Render("~/Content/font-awesome/fontawesome.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <header class="main-header col-lg-2">
                <div class="main-header__brand">
                    <a href="@Url.Action("Index","Home")">
                        <img src="~/Images/esm logo.png" alt="ESM" class="img-responsive" />
                    </a>
                </div>
                <div class="main-header__user">
                    <img src="~/Images/avatar-placeholder.png" alt="User Avatar" class="img-circle pull-left img-fluid user__image" />
                    <span class="user__label">
                        Zalogowano jako:
                    </span>
                    <span class="user__name">@Session["UserName"] @Session["UserSurname"]</span>
                </div>
                    
                <nav class="main-header__links">
                    <ul>
                        <li class="active parent">
                            <a href="#"><i class="fas fa-user"></i> Pracownicy</a>
                            <ul class="child">
                                <li><a href="@Url.Action("Index","Employees")">Wszyscy pracownicy</a></li>
                                <li><a href="@Url.Action("Create","Employees")">Dodaj pracownika</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fas fa-calendar"></i> Wydarzenia</a></li>
                        <li><a href="#"><i class="fas fa-calculator"></i> Kalkulator wynagrodzenia</a></li>
                        <li><a href="#"><i class="fas fa-cog"></i> Ustawienia</a></li>
                        <li><a href="@Url.Action("Logout","Home")"><i class="fas fa-power-off"></i> Wyloguj</a></li>

                    </ul>
                </nav>
                <div class="main-header__footer text-center">
                    <img src="~/Images/esm logo.png" alt="ESM" class="img-fluid"/>
                    <p>MM&GW Solutions &copy; @DateTime.Now.Year</p>
                </div>
            </header>
            <main class="col-lg-7 col-lg-offset-2 main-content">
                <div class="row">
                        @RenderBody()
                </div>
            </main>
            <aside class="main-sidebar col-lg-3">
               
            </aside>
        </div>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/scripts.js")
    @RenderSection("scripts", required: false)
</body>
</html>
