@model ESM.Models.User

@{
    ViewBag.Title = "Register";
}
<div class="login">
    <video autoplay loop class="login__video" poster="~/Media/Home_work.jpg">
        <source src="~/Media/Home_work.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="~/Media/Home_work.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="container login__content">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">
                    <img src="~/Images/esm logo.png" width="300" alt="" class="img-responsive center-block" />
                    <strong>Zarejestruj się</strong>
                </h1>
            </div>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            @Html.LabelFor(a => a.Name)
                            @Html.TextBoxFor(a => a.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Name)
                        </div>
                        <div class="form-group col-xs-12">
                            @Html.LabelFor(a => a.Surname)
                            @Html.TextBoxFor(a => a.Surname, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Surname)
                        </div>
                        <div class="form-group col-xs-12">
                            @Html.LabelFor(a => a.Email)
                            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Email)
                        </div>
                        <div class="form-group col-xs-12">
                            @Html.LabelFor(a => a.Password)
                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.Password)
                        </div>
                        <div class="form-group col-xs-12">
                            @Html.LabelFor(a => a.AvatarPath)
                            @Html.TextBoxFor(a => a.AvatarPath, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.AvatarPath)
                        </div>
                        <p class="text-center">
                            <input type="submit" class="btn btn-success btn-lg" value="Rejestracja" />
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

